.nav-links {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.nav-btn {
  margin: clamp(10px, 12px, 17px) 20px;
  opacity: 100%;
}

.nav-btn img {
  width: clamp(45px, 60px, 70px);
}

.large-btn {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: clamp(10px, 12px, 17px) 20px;
}

.large-btn .wallet-btn {
  border-radius: 7px;
  background: linear-gradient(98deg, #b704f7 -4.74%, #1a90bd 109.28%);
  color: white;
  text-decoration: none;
  box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 13px 5px 13px;
  font-family: Inconsolata;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 3px 0;
  cursor: pointer;
}

.social-panel {
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.social-panel-btn img {
  margin: 0 8px;
}

.twitter-icn img {
  width: clamp(25px, 45px, 55px);
  height: clamp(25px, 45px, 55px);
}
.instagram-icn img {
  width: clamp(20px, 40px, 50px);
  height: clamp(20px, 40px, 50px);
}
.telegram-icn img {
  width: clamp(15px, 35px, 45px);
  height: clamp(15px, 35px, 45px);
}

hr {
  width: 7rem;
  margin: 0;
  border: 0;
  border-top: 3px solid #b804f7;
}


/*FIXME: Розібратись із кільцями і додати їх на екран
.top-circles-block {
  width: 332px;
  height: 332px;
  left: -226px;
  top: -173px;
  position: relative;
  z-index: 1;
}

.top-circle-1 {
  width: 168px;
  height: 168px;
  left: 73px;
  top: 75px;
  position: absolute;
  border-radius: 9999px;
  border: 7px rgba(255, 255, 255, 0.28) solid;
}

.top-circle-2 {
  width: 236px;
  height: 236px;
  left: 43px;
  top: 41px;
  position: absolute;
  border-radius: 9999px;
  border: 14px rgba(255, 255, 255, 0.28) solid;
}

.top-circle-3 {
  width: 332px;
  height: 332px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
  border: 24px rgba(255, 255, 255, 0.28) solid;
}

.bottom-circles-block {
  width: 372px;
  height: 372px;
  left: 89px;
  top: 721px;
  position: relative;
  z-index: 1;
}

.bottom-circle-1 {
  width: 208px;
  height: 208px;
  left: 73px;
  top: 75px;
  position: absolute;
  border-radius: 9999px;
  border: 7px rgba(255, 255, 255, 0.28) solid;
}

.bottom-circle-2 {
  width: 276px;
  height: 276px;
  left: 43px;
  top: 41px;
  position: absolute;
  border-radius: 9999px;
  border: 14px rgba(255, 255, 255, 0.28) solid;
}

.bottom-circle-3 {
  width: 372px;
  height: 372px;
  left: 0px;
  top: 0px;
  position: absolute;
  border-radius: 9999px;
  border: 24px rgba(255, 255, 255, 0.28) solid;
}
*/

/* CSS Media Queries для адаптивного дизайну на мінімальному розширенні екрану 1024x768 */
@media screen and (max-width: 773px) and (max-height: 609px) {
  .nav-btn {
    margin: clamp(8px, 10px, 14px) 15px; /* Адаптивні відступи */
    opacity: 80%; /* Адаптивна прозорість */
    /* Інші адаптивні стилі для .nav-btn */
  }

  .nav-btn img {
    width: clamp(25px, 50px, 60px); /* Адаптивна ширина зображення */
    height: clamp(25px, 50px, 60px); /* Адаптивна висота зображення */
    /* Інші адаптивні стилі для .nav-btn img */
  }

  .large-btn {
    height: auto; /* Адаптивна висота */
    /* Інші адаптивні стилі для .large-btn */
  }

  .large-btn .wallet-btn {
    /* Ваші стилі для .wallet-btn */
  }

  .social-panel {
    width: 80%; /* Адаптивна ширина */
    /* Інші адаптивні стилі для .social-panel */
  }

  .social-panel-btn img {
    margin: 0 5px; /* Адаптивні відступи */
    /* Інші адаптивні стилі для .social-panel-btn img */
  }

  .twitter-icn img {
    width: clamp(20px, 40px, 50px); /* Адаптивна ширина зображення */
    height: clamp(20px, 40px, 50px); /* Адаптивна висота зображення */
    /* Інші адаптивні стилі для .twitter-icn img */
  }

  .instagram-icn img {
    width: clamp(15px, 35px, 45px); /* Адаптивна ширина зображення */
    height: clamp(15px, 35px, 45px); /* Адаптивна висота зображення */
    /* Інші адаптивні стилі для .instagram-icn img */
  }

  .telegram-icn img {
    width: clamp(10px, 30px, 40px); /* Адаптивна ширина зображення */
    height: clamp(10px, 30px, 40px); /* Адаптивна висота зображення */
    /* Інші адаптивні стилі для .telegram-icn img */
  }

  hr {
    width: 6rem; /* Адаптивна ширина */
    /* Інші адаптивні стилі для hr */
  }

  /* Додаткові адаптивні стилі для інших класів, які ви маєте */
}
